<div class="modal-header">
    <h3 class="modal-title text-center">New Task</h3>
</div>
<div class="modal-body">
    <div class="form-group modal-input">
        <label for="newTaskInput">Task Title:</label>
        <input id="newTaskInput" type="text" ng-model="text">
        <label for="newTaskInput">Priority Level:</label>
        <select name="newTaskInput" id="newTaskInput" ng-options="option.setting for option in priority.availableOptions track by option.id" ng-model="priority.selectedOption"></select>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="text === ''" ng-click="ok()">Create Task</button>
    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
</div>
